
{{#if feature_image}}
  <div class="title-preamble article__image">
    <img class="feature_image" src="{{feature_image}}" alt="">
    <h1>{{title}}</h1>
  </div>
{{else}}
  <div class="title-preamble article__text-box">
    <h1>{{title}}</h1>
  </div>
{{/if}}
