<nav class="header_menu">

  <p class="mobile-site-title"><a href="/">kow.fm</a></p>

    <ul>
      {{#if @blog.navigation}}
        {{navigation}}
      {{/if}}

      {{#if @member}}
        <li class="login-list-link-thing"><a href="/account" class="login-button" type="button" name="button">Account</a></li>
      {{else}}
        <li class="login-list-link-thing"><a href="/signin" class="login-button" type="button" name="button">Login</a></li>
      {{/if}}
    </ul>

<div class="scene">
  <div class="cube">
    <div class="cube__face cube__face--front"><svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>MenuBurger</title>
        <g id="menuburger" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="hamburger" transform="translate(14.000000, 20.000000)" fill="#000000" fill-rule="nonzero">
                <rect id="barbottom" x="0" y="16" width="32" height="4"></rect>
                <rect id="barmiddle" x="0" y="8" width="32" height="4"></rect>
                <rect id="bartop" x="0" y="0" width="32" height="4"></rect>
            </g>
        </g>
    </svg></div>
    <div class="cube__face cube__face--back"><svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>MenuBurger Copy</title>
        <g id="MenuBurger-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect id="Rectangle-Copy-23" fill="#000000" fill-rule="nonzero" transform="translate(30.000000, 30.000000) rotate(-45.000000) translate(-30.000000, -30.000000) " x="14" y="28" width="32" height="4"></rect>
            <g id="Rectangle-Copy-24" transform="translate(17.000000, 17.000000)" fill="#000000" fill-rule="nonzero">
                <rect id="Rectangle-Copy-2" transform="translate(13.000000, 13.000000) rotate(-315.000000) translate(-13.000000, -13.000000) " x="-3" y="11" width="32" height="4"></rect>
            </g>
        </g>
    </svg></div>
    <div class="cube__face cube__face--right"></div>
    <div class="cube__face cube__face--left"></div>
    <div class="cube__face cube__face--top"></div>
    <div class="cube__face cube__face--bottom"></div>
  </div>
</div>

</nav>
