<nav class="pill-menu">

  <a href="/" class="logo-element">kow.fm</a>

  <ul class="pill-menu-list">
    {{#if @blog.navigation}}
      {{navigation}}
    {{/if}}
    <!-- <li><span>my emails is </span><a href="mailto:me@kow.fm">me@kow.fm</a></li> -->
  </ul>

  <a herf="/signin" class="login-button" type="button" name="button">Login</a>

</nav>
