<a href="/" class="logo-text"><h2>index</h2></a>
<div class="expanding_menu_background"></div>
<div class="expanding_menu_container">
  <p class="expand_menu_button"><span>Close  </span>Menu</p>
  <div class="little_bar"></div> <div class="big_bar"></div>
  <div class="expanding_menu_view_window">
    <div class="expanding_menu_view_substrate">
      <ul class="site_nav">
        {{#if @blog.navigation}}
          {{navigation}}
        {{/if}}
        <li><span>my emails is </span><a href="mailto:me@kow.fm">me@kow.fm</a></li>
      </ul>

    </div>
    <img class="menu_logo" src="/assets/built/prologue_logo_colors.svg" alt="Prologue Logo">
  </div>
</div>
