<form data-members-form="subscribe">
  <section class="subscribe-form newsletter-box">
    <div class="layout-centered">
      <div class=" content">
          <div class="article__text-box title-preamble">
            <h1>Signup for the Newsletter</h1>
          </div>

          <p class="type-excerpt">An infrequent and silly newsletter. Everything I googled, and read, in the last couple of weeks. A rambling link post of just random stuff. A direct insight to what an ordinary app developer learns in the course of their job. <br><br> I’ll never share your email with anyone ever for any reason at all ever. Unsubscribe at any time. Literally just a list of all the things I googled and read in the last week or two. Sometimes I’ll include an announcement.</p>

          <hr>

          <div class="subscriber-row">
            <div class="left-side">
              <label for="email">Email Address</label>
              <input data-members-email type="email" required="true" placeholder="eager@beaver.com" name="email" />
            </div>
            <div class="right-side">
              <label>&nbsp;</label>
              <button type="submit" class="button primary">Subscribe</button>
            </div>
          </div>

          <div class="loading_container">
            <div class="loading_pip pip_1"></div>
            <div class="loading_pip pip_2"></div>
            <div class="loading_pip pip_3"></div>
            <div class="loading_pip pip_4"></div>
          </div>

          <div class="success-message">
            <p>Success! You're now subscribed. Good Job.</p>
          </div>

          <p data-members-error class="subscribe-error"><!-- error message will appear here --></p>
      </div>
    </div>
  </section>
</form>
