<section class="subscribe-form">
    <h3>Subscribe to {{@site.title}}</h3>
    <p>I'm documenting my side Projects weekly. Subscribe and I'll send you an email with all of the Art, Design, and Technology I was able to cram into the last week.</p>
    {{subscribe_form placeholder="me@kow.fm"}}
</section>
