<div class="gl_lesson__sidebar">
  <div class="chapter-accessory">
    <h4>Ch.</h4>
    <h3>Something</h3>
  </div>
  <h2>Sidebar</h2>
  <hr>
  <h2>Section 1</h2>
  <ul>
    <li><a href="/swift_foundations/introduction/">Introduction</a></li>
    <li><a href="#">Ethical Programming</a></li>
    <li><a href="#">How it Fits together</a></li>
    <li><a href="#">Xcode</a></li>
    <li><a href="#">Variables and Constants</a></li>
  </ul>
  <hr>
  <h2>Section 2</h2>
  <ul>
    <li><a href="/swift_foundations/introduction/">Introduction</a></li>
    <li><a href="#">Ethical Programming</a></li>
    <li><a href="#">How it Fits together</a></li>
    <li><a href="#">Xcode</a></li>
    <li><a href="#">Variables and Constants</a></li>
  </ul>
  <hr>
  <h2>Section 3</h2>
  <ul>
    <li><a href="/swift_foundations/introduction/">Introduction</a></li>
    <li><a href="#">Ethical Programming</a></li>
    <li><a href="#">How it Fits together</a></li>
    <li><a href="#">Xcode</a></li>
    <li><a href="#">Variables and Constants</a></li>
  </ul>
</div>
