{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

  <div class="layout-centered post-container page-template">
    {{> "site-header"}}

  {{#post}}
      <article class="{{post_class}} {{#unless feature_image}}no-image{{/unless}}">

          <h1>{{title}}</h1>

          {{#if feature_image}}
            <img class="feature_image" src="{{feature_image}}" alt="">
          {{/if}}

          <div class="content">
            {{content}}

            <div class="course-card-container">
                <div class="course-card wide swift">
                    <span class="stamp"><span class="stamp-text">Totally Free</span></span>
                    <h2>Swift Foundations</h2>
                    <p>Learn the fundamentals of Swift, SwiftUI, and building apps across Apple platforms. Swift Foundations is free and always will be.</p>
                    <a class="button primary white" href="http://localhost:2368/courses/genericapp">Start Course</a>
                </div>

                    <div class="course-card milkjar">
                    <span class="stamp"><span class="stamp-text">Coming Fall</span></span>
                    <h2>Milkjar</h2>
                    <p>Make a really nice Budgeting app, built for two! Sync with CloudKit. An app for iPhone, iPad, and Mac.</p>
                    <a class="button primary white disabled" href="http://localhost:2368/courses/genericapp">Start Course</a>
                </div>

                    <div class="course-card blaster">
                    <span class="stamp"><span class="stamp-text">Coming Soon</span></span>
                    <h2 class="blasterlabel">Blaster</h2>
                    <p>Build a little Game using SpriteKit, for the iPhone, iPad, AppleTV, and Mac. Learn to support controllers too.</p>
                    <a class="button primary white disabled" href="http://localhost:2368/courses/genericapp">Start Course</a>
                </div>

                    <div class="course-card dubbble">
                    <span class="stamp"><span class="stamp-text">Coming Winter</span></span>
                    <h2>Dubbble</h2>
                    <p>It’s a Dribbble app. With a Twist! Because it’s actually two apps. Kinda like Pokémon Red and Blue Versions.</p>
                    <a class="button primary white disabled" href="http://localhost:2368/courses/genericapp">Start Course</a>
                </div>

                    <div class="course-card cheddar">
                    <span class="stamp"><span class="stamp-text">Coming 2021</span></span>
                    <h2>Cheddar v1.5</h2>
                    <p>Make the next version of Cheddar, a cross platform to do list app, with markdown powers and instant sync.</p>
                    <a class="button primary white disabled" href="http://localhost:2368/courses/genericapp">Start Course</a>
                </div>
            </div>

          </div>

      </article>
  {{/post}}

</div>

{{#contentFor "template_class"}} courses-template page-template {{/contentFor}}
