{{!< default}}

<div class="layout-centered post-container page-template">
  {{> "site-header"}}

  {{#post}}
      <article class="content {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

        <div class="article__text-box title-preamble">
          <h1>{{title}}</h1>
        </div>

        <p class="type-excerpt">{{excerpt}}</p>

        <hr>

        {{content}}

          <div class="app-matrix coming-soon">

            <p class="coming-soon-overlay">
              Coming Soon
            </p>
            <a class="app-row"><span class="app-icon mathematical"></span>Mathematical</a>
            <a class="app-row"><span class="app-icon gouda"></span>Gouda</a>
            <a class="app-row"><span class="app-icon blaster"></span>Blaster</a>
            <a class="app-row"><span class="app-icon dubbble"></span>Dubbble</a>
            <a class="app-row"><span class="app-icon cheddar"></span>Cheddar</a>
            <a class="app-row"><span class="app-icon milkjar"></span>Milkjar</a>
          </div>

      </article>
  {{/post}}

</div>

{{#contentFor "template_class"}} apps-template page-template {{/contentFor}}
