{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

  <div class="layout-centered post-container page-template">

    {{> "site-header"}}

    <div class="article__text-box">
      <h1>Stories</h1>
    </div>

    <div class="content">
      {{#foreach posts}}

        {{> "post-item"}}

      {{/foreach}}

      {{pagination}}
    </div>

  </div>


  {{#contentFor "template_class"}} blog-template page-template {{/contentFor}}
