{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

  <div class="layout-centered post-container page-template">
    
      {{> "site-header"}}

    <em><h1 class="header-text large green">Stories</h1></em>
    {{#foreach posts}}

      {{> "post-item"}}

    {{/foreach}}

    {{pagination}}
  </div>
