{{!< default}}

  <div class="layout-centered post-container page-template">

    {{> "site-header"}}

    <div class="content">

      <div class="article__text-box title-preamble">
        <h1>Stories</h1>
      </div>

      <!-- <p class="type-excerpt">We really want you to like this webpage and in order to do that we will do all sorts of things.</p> -->

      <hr>

      <div class="lesson-card-container breakout">
        <div class="lesson-card" style="border:none;pointer-events:none;"></div>
      {{#foreach posts}}

        {{> "post-item"}}

      {{/foreach}}
      </div>

      {{pagination}}
    </div>

  </div>

  {{#contentFor "template_class"}} blog-template page-template {{/contentFor}}
