{{!< default}}

<div class="layout-centered post-container page-template {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

  {{> "site-header"}}

  <div class="content">

    {{> "post-title"}}

    {{#if excerpt}}
      <p class="type-excerpt">{{excerpt}}</p>
    {{/if}}

    <hr>

    {{content}}
  </div>

</div><!-- End -->

{{#contentFor "template_class"}} book-template {{/contentFor}}
