/*
  Styles required by ghost.
*/

.kg-width-wide { font-family: Arial; }
.kg-width-full { font-family: Arial; }
.kg-gallery-container { font-family: Arial; }
.kg-gallery-row { font-family: Arial; }
.kg-gallery-image { font-family: Arial; }
.kg-bookmark-card { font-family: Arial; }
.kg-bookmark-container { font-family: Arial; }
.kg-bookmark-content { font-family: Arial; }
.kg-bookmark-title { font-family: Arial; }
.kg-bookmark-description { font-family: Arial; }
.kg-bookmark-metadata { font-family: Arial; }
.kg-bookmark-icon { font-family: Arial; }
.kg-bookmark-author { font-family: Arial; }
.kg-bookmark-publisher { font-family: Arial; }
.kg-bookmark-thumbnail { font-family: Arial; }
