{{!< ../default}}

<div class="layout-centered post-container page-template">
  {{#if @blog.navigation}}
      {{navigation}}
  {{/if}}

  {{#foreach posts visibility="all"}}

      {{!-- The tag below includes the markup for each post - partials/lesson-card.hbs --}}
      {{> "lesson-card"}}

  {{/foreach}}

  {{#contentFor "scripts"}}

  {{/contentFor}}

</div>
