

.step--2 { font-size: var(--step--2); line-height: 1.5em; }
.step--1 { font-size: var(--step--1); line-height: 1.5em; }
.step-0  { font-size: var(--step-0);  line-height: 1.5em; }
.step-1  { font-size: var(--step-1);  line-height: 1.5em; }
.step-2  { font-size: var(--step-2);  line-height: 1.5em; }
.step-3  { font-size: var(--step-3);  line-height: 1.5em; }
.step-4  { font-size: var(--step-4);  line-height: 1.5em; }
.step-5  { font-size: var(--step-5);  line-height: 1.5em; }
.step-6  { font-size: var(--step-6);  line-height: 1.5em; }
