/* TypeFace */
/*
  400 regular
  500 medium
  600 demi-bold
  700 bold
  900 heavy
*/
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-Regular.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-Regular.woff2") format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-Regular.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.woff2")
      format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-Medium.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-Medium.woff2") format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-Medium.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.woff2")
      format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-DemiBold.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-DemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-DemiBold.woff2") format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-DemiBold.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-DemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.woff2")
      format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-Bold.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-Bold.woff2") format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-Bold.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.woff2") format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-Heavy.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-Heavy.woff2") format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-Heavy.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-Heavy.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.eot"); /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.woff2") format("woff2"),
    url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.woff") format("woff"),
    url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 900;
  font-style: italic;
}


/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("/assets/fonts/playfair/PlayfairDisplay-Black.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/playfair/PlayfairDisplay-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/fonts/playfair/PlayfairDisplay-Black.otf") format("opentype"), /* Open Type Font */
    url("/assets/fonts/playfair/PlayfairDisplay-Black.svg") format("svg"), /* Legacy iOS */
    url("/assets/fonts/playfair/PlayfairDisplay-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/assets/fonts/playfair/PlayfairDisplay-Black.woff") format("woff"), /* Modern Browsers */
    url("/assets/fonts/playfair/PlayfairDisplay-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.otf") format("opentype"), /* Open Type Font */
    url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.svg") format("svg"), /* Legacy iOS */
    url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.woff") format("woff"), /* Modern Browsers */
    url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}

@mixin typeface-greycliffcf {
  font-family: "GreycliffCF";
  font-weight: 400;
  color: #111111;
}
.typeface-greycliffcf { @include typeface-greycliffcf; }
