/* Always start with a reset and media queries */
/* Reset stolen from: https://hankchizljaw.com/wrote/a-modern-css-reset/ */
/* I very much like the decisions that this reset makes. */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* Bulma imports */
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

/**/
/* Our utilities */
/* flexbox columns, for... something I guess? */
/* Media Queries */
/* 30rem = 480px */
/* 48rem = 768px */
/* 64rem = 1024px */
/* Built in layouts */
/* Column based layouts for kicks and giggles */
body {
  background-color: #F8FAFF; }

/* Simple Centered layout */
.layout-centered {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1152px;
  padding-left: var(--size-plus-huge);
  padding-right: var(--size-plus-huge);
  padding-top: var(--size-huge);
  font-size: inherit;
  box-sizing: border-box; }
  .layout-centered.narrow {
    max-width: 960px; }
  .layout-centered.wide {
    max-width: 1600px; }

/* CSS Grid layouts */
/* sidebar with hanging text */
.gw_sandwhich_sidebar {
  display: grid;
  max-width: 1600px;
  grid-column: minmax(120px, 240px) auto;
  grid-row: auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
  grid-template-columns: minmax(180px, auto) auto;
  grid-template-areas: "header header header" "sidebar content content" ". footer footer"; }

.gw_sandwhich_sidebar__header {
  display: block;
  width: auto;
  grid-area: header; }

.gw_sandwhich_sidebar__sidebar {
  display: block;
  width: auto;
  grid-area: sidebar;
  box-sizing: border-box;
  padding-left: var(--step-0);
  padding-right: var(--step-0); }

.gw_sandwhich_sidebar__content_wrapper {
  display: block;
  width: auto;
  grid-area: content; }

@media screen and (max-width: 640px) {
  .gw_sandwhich_sidebar {
    grid-template-areas: "header" "sidebar" "content" "footer"; }
  .gw_sandwhich_sidebar__sidebar {
    padding-left: var(--size-large);
    padding-right: var(--size-large); } }

/* Story Layout */
/*
12 columns
64px wide
32px gutters
gutters on outside

*/
.gl_story {
  display: grid;
  width: 85vw;
  max-width: 684px;
  grid-row: auto auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding-top: var(--size-huge);
  grid-template-areas: "header header header header" "content content content content " "footer footer footer footer"; }

.gl_story__header {
  display: block;
  width: auto;
  grid-area: header; }

.gl_story__content_wrapper {
  display: block;
  width: auto;
  grid-area: content; }

.gl_story__footer {
  display: block;
  width: auto;
  grid-area: footer; }

/* Course Layout */
/*
12 columns
64px wide
32px gutters
gutters on outside

*/
.gl_lesson {
  display: grid;
  max-width: 1184px;
  grid-row: auto auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "sidebar sidebar sidebar sidebar" "content content content content " "footer footer footer footer";
  padding-left: 1em;
  padding-right: 1em; }

.gl_lesson__header {
  display: block;
  width: auto;
  grid-area: header; }

.gl_lesson__sidebar {
  display: block;
  width: auto;
  grid-area: sidebar; }

.gl_lesson__content_wrapper {
  display: block;
  width: auto;
  grid-area: content; }

.gl_lesson__footer {
  display: block;
  width: auto;
  grid-area: footer; }

@media screen and (min-width: 30rem) and (max-width: 64rem) {
  /* -m */
  .gl_lesson {
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 2em;
    grid-template-areas: "header header header header header header header header header header" "sidebar sidebar sidebar content content content content content content content" "footer footer footer footer footer footer footer footer footer footer"; } }

@media screen and (min-width: 64rem) {
  /* -l */
  .gl_lesson {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2em;
    grid-template-areas: "header header header header header header header header header header header header" "sidebar sidebar sidebar content content content content content content content content content" "footer footer footer footer footer footer footer footer footer footer footer footer"; } }

/* Simple Centered layout for the footer */
.layout-centered-footer {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1152px;
  padding-left: var(--size-plus-huge);
  padding-right: var(--size-plus-huge);
  padding-top: 128px;
  font-size: inherit;
  box-sizing: border-box; }
  .layout-centered-footer.narrow {
    max-width: 960px; }
  .layout-centered-footer.wide {
    max-width: 1600px; }

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1152;
  --fluid-min-size: 16;
  --fluid-max-size: 20;
  --fluid-min-ratio: 1.25;
  --fluid-max-ratio: 1.34;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
      ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
  ); }

@media screen and (min-width: 1152PX) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px); } }

/* This basically interpolates the size of stuff between 2 sizes, and between
two screen widths. */
:root {
  --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
  --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));
  /* 10.24 - 11.14 */
  --fluid-min-scale--2: var(--fluid-min-scale--1) * var(--fluid-min-ratio) * var(--fluid-min-negative);
  --fluid-max-scale--2: var(--fluid-max-scale--1) * var(--fluid-max-ratio) * var(--fluid-max-negative);
  --fluid-min-size--2: (var(--fluid-min-size) * var(--fluid-min-scale--2)) / 16;
  --fluid-max-size--2: (var(--fluid-max-size) * var(--fluid-max-scale--2)) / 16;
  --step--2: calc(((var(--fluid-min-size--2) * 1rem) + (var(--fluid-max-size--2) - var(--fluid-min-size--2)) * var(--fluid-bp)));
  /* 12.80 - 14.93 */
  --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
  --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
  --fluid-min-size--1: (var(--fluid-min-size) * var(--fluid-min-scale--1)) / 16;
  --fluid-max-size--1: (var(--fluid-max-size) * var(--fluid-max-scale--1)) / 16;
  --step--1: calc(((var(--fluid-min-size--1) * 1rem) + (var(--fluid-max-size--1) - var(--fluid-min-size--1)) * var(--fluid-bp)));
  /* 16 - 20 */
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-min-size-0: (var(--fluid-min-size)) / 16;
  --fluid-max-size-0: (var(--fluid-max-size)) / 16;
  --step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
  /* 20 - 26.8 */
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
  --step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  /* 25 - 35.91 */
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
  --step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  /* 31.25 - 48.12 */
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
  --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
  --step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  /* 39.06 - 64.48 */
  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
  --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
  --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
  --step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
  /* 48.83 - 86.41 */
  --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
  --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
  --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
  --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
  --step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
  --size-micro-min-size: calc(4 / 16);
  --size-micro-max-size: calc(8 / 16);
  --size-micro: calc(((var(--size-micro-min-size) * 1rem) + (var(--size-micro-max-size) - var(--size-micro-min-size)) * var(--fluid-bp)));
  --size-small-min-size: calc(6 / 16);
  --size-small-max-size: calc(12 / 16);
  --size-small: calc(((var(--size-small-min-size) * 1rem) + (var(--size-small-max-size) - var(--size-small-min-size)) * var(--fluid-bp)));
  --size-normal-min-size: calc(8 / 16);
  --size-normal-max-size: calc(16 / 16);
  --size-normal: calc(((var(--size-normal-min-size) * 1rem) + (var(--size-normal-max-size) - var(--size-normal-min-size)) * var(--fluid-bp)));
  --size-plus-min-size: calc(12 / 16);
  --size-plus-max-size: calc(24 / 16);
  --size-plus: calc(((var(--size-plus-min-size) * 1rem) + (var(--size-plus-max-size) - var(--size-plus-min-size)) * var(--fluid-bp)));
  --size-medium-min-size: calc(16 / 16);
  --size-medium-max-size: calc(32 / 16);
  --size-medium: calc(((var(--size-medium-min-size) * 1rem) + (var(--size-medium-max-size) - var(--size-medium-min-size)) * var(--fluid-bp)));
  --size-medium-plus-min-size: calc(24 / 16);
  --size-medium-plus-max-size: calc(48 / 16);
  --size-medium-plus: calc(((var(--size-medium-plus-min-size) * 1rem) + (var(--size-medium-plus-max-size) - var(--size-medium-plus-min-size)) * var(--fluid-bp)));
  --size-large-min-size: calc(32 / 16);
  --size-large-max-size: calc(64 / 16);
  --size-large: calc(((var(--size-large-min-size) * 1rem) + (var(--size-large-max-size) - var(--size-large-min-size)) * var(--fluid-bp)));
  --size-huge-min-size: calc(64 / 16);
  --size-huge-max-size: calc(128 / 16);
  --size-huge: calc(((var(--size-huge-min-size) * 1rem) + (var(--size-huge-max-size) - var(--size-huge-min-size)) * var(--fluid-bp)));
  --size-biggest-min-size: calc(128 / 16);
  --size-biggest-max-size: calc(256 / 16);
  --size-biggest: calc(((var(--size-biggest-min-size) * 1rem) + (var(--size-biggest-max-size) - var(--size-biggest-min-size)) * var(--fluid-bp)));
  /* 24 - 128 */
  --size-plus-huge-min-size: calc(24 / 16);
  --size-plus-huge-max-size: calc(128 / 16);
  --size-plus-huge: calc(((var(--size-plus-huge-min-size) * 1rem) + (var(--size-plus-huge-max-size) - var(--size-plus-huge-min-size)) * var(--fluid-bp))); }

/* TypeFace */
/*
  400 regular
  500 medium
  600 demi-bold
  700 bold
  900 heavy
*/
@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-Regular.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-Regular.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-Regular.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-RegularOblique.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-Medium.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-Medium.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-Medium.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-MediumOblique.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-DemiBold.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-DemiBold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-DemiBold.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-DemiBold.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-DemiBold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-DemiBoldOblique.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-Bold.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-Bold.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-Bold.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-BoldOblique.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-Heavy.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-Heavy.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-Heavy.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-Heavy.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-Heavy.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "GreycliffCF";
  src: url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.eot");
  /* IE9 Compat Mode */
  src: url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.woff2") format("woff2"), url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.woff") format("woff"), url("/assets/fonts/greycliff/GreycliffCF-HeavyOblique.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 900;
  font-style: italic; }

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("/assets/fonts/playfair/PlayfairDisplay-Black.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/playfair/PlayfairDisplay-Black.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/playfair/PlayfairDisplay-Black.otf") format("opentype"), url("/assets/fonts/playfair/PlayfairDisplay-Black.svg") format("svg"), url("/assets/fonts/playfair/PlayfairDisplay-Black.ttf") format("truetype"), url("/assets/fonts/playfair/PlayfairDisplay-Black.woff") format("woff"), url("/assets/fonts/playfair/PlayfairDisplay-Black.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.otf") format("opentype"), url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.svg") format("svg"), url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.ttf") format("truetype"), url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.woff") format("woff"), url("/assets/fonts/playfair/PlayfairDisplay-BlackItalic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: italic; }

.typeface-greycliffcf {
  font-family: "GreycliffCF";
  font-weight: 400;
  color: #111111; }

/* wysywig type stuff. Default styles that are pushed out through koenig. */
.page-template h1 {
  font-family: 'PlayfairDisplay-Black', Arial;
  font-weight: 900;
  font-size: var(--step-3);
  line-height: 1em;
  margin-bottom: 1em; }

.post-template h1 {
  font-family: 'GreycliffCF', Arial;
  font-weight: 700;
  font-size: var(--step-5);
  line-height: 1em;
  margin-bottom: var(--size-medium);
  color: #00C764;
  color: color(display-p3 0 0.781 0.392/1);
  /* https://p3colorpicker.cool */
  letter-spacing: -0.2rem; }

/* The text that shows up below the title of the post like the date and tags and stuff. */
.post_subtext {
  margin-top: var(--size-normal);
  margin-bottom: var(--size-normal); }

.post-template .date-time, .page-template .date-time {
  color: #666666; }

.feature_image {
  width: 90vw;
  display: inline-block;
  margin-left: 50%;
  margin-right: -20%;
  transform: translateX(-50%);
  max-width: 1200px; }

.post_excerpt {
  font-family: 'GreycliffCF', Arial;
  font-weight: 600;
  font-size: var(--step-1);
  line-height: 1.5em;
  margin-bottom: 0em;
  text-align: justify; }

.page-template .content > h1, .post-template .content > h1 {
  font-family: 'GreycliffCF', Arial;
  font-weight: 700;
  font-size: var(--step-3);
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-top: 2em;
  color: #111; }

.page-template .content > h2, .post-template .content > h2 {
  font-family: 'GreycliffCF', Arial;
  font-weight: 700;
  font-size: var(--step-2);
  line-height: 1.25em;
  margin-bottom: 0.5em;
  margin-top: 2em; }

.page-template .content > h3, .post-template .content > h3 {
  font-family: 'GreycliffCF', Arial;
  font-weight: 700;
  font-size: var(--step-1);
  line-height: 1.33em;
  margin-bottom: 0.5em;
  margin-top: 2em; }

.page-template .content > blockquote, .post-template .content > blockquote {
  font-family: 'PlayfairDisplay-Black', Arial;
  font-weight: 400;
  font-size: var(--step-2);
  line-height: 1.33em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  font-style: italic;
  margin-left: -6%;
  margin-right: -6%;
  text-align: center; }

.page-template .content > h2:first-child, .page-template .content > h3:first-child, .post-template .content > h2:first-child, .post-template .content > h3:first-child {
  font-family: 'GreycliffCF', Arial;
  font-weight: 600;
  font-size: var(--step-1);
  line-height: 1.2em;
  margin-top: 1.25em;
  margin-bottom: 1.25em; }

.page-template .content > h2:first-child + p, .page-template .content > h3:first-child + p, .page-template .content > p:first-child, .post-template .content > h2:first-child + p, .post-template .content > h3:first-child + p, .post-template .content > p:first-child {
  font-weight: 600; }

.page-template .content > p, .post-template .content > p {
  font-family: 'GreycliffCF', Arial;
  font-weight: 400;
  font-size: var(--step-0);
  line-height: 1.5em;
  margin-bottom: 1.5em;
  text-align: justify; }

.page-template .content > ul, .page-template .content > ol, .post-template .content > ul, .post-template .content > ol {
  font-family: 'GreycliffCF', Arial;
  font-weight: 400;
  font-size: var(--step-0);
  line-height: 1.5em;
  margin-bottom: 1.5em; }

.page-template .content > figure.kg-image-card, .post-template .content > figure.kg-image-card {
  max-width: 120%;
  margin-left: -10%;
  margin-right: -10%;
  margin-bottom: var(--size-large);
  margin-top: var(--size-large); }
  .page-template .content > figure.kg-image-card figcaption, .post-template .content > figure.kg-image-card figcaption {
    font-family: 'GreycliffCF', Arial;
    font-weight: 400;
    font-size: var(--step-1);
    line-height: 1.75em;
    color: grey;
    font-size: var(--step--1);
    text-align: center; }

.page-template a, .post-template a {
  color: #00C764;
  color: color(display-p3 0 0.781 0.392/1);
  /* https://p3colorpicker.cool */ }
  .page-template a:hover, .post-template a:hover {
    text-decoration: none; }

.f-step--2 {
  font-size: var(--step--2); }

.f-step--1 {
  font-size: var(--step--1); }

.f-step-0 {
  font-size: var(--step-0); }

.f-step-1 {
  font-size: var(--step-1); }

.f-step-2 {
  font-size: var(--step-2); }

.f-step-3 {
  font-size: var(--step-3); }

.f-step-4 {
  font-size: var(--step-4); }

.f-step-5 {
  font-size: var(--step-5); }

/* Story layout specific Changes */
.post-template .gl_story__content_wrapper h1 {
  font-size: var(--step-4); }

.post-template .gl_story__content_wrapper > img {
  margin-top: var(--size-medium);
  margin-bottom: var(--size-medium); }

.post-template .gl_story__content_wrapper hr {
  border: none;
  background-color: #A6A6A6;
  height: 2px;
  border-radius: 2px;
  margin-bottom: 2em; }

/* Code overrides */
.content pre {
  background-color: #262626;
  border-radius: 16px;
  padding: 16px;
  color: #fdfdfd;
  font-size: var(--step--0); }

pre[class*="language-"] {
  border-radius: 1em !important;
  margin-bottom: 1em !important; }

.site-introduction {
  font-family: 'PlayfairDisplay-Black', Arial;
  font-weight: 900;
  font-size: var(--step-2);
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #222222; }
  .site-introduction a {
    text-decoration: none;
    border-bottom: none; }
    .site-introduction a:hover {
      border-bottom: 0.125em solid; }

/* https://p3colorpicker.cool */
.page-template a.pink,
.post-template a.pink {
  color: #FF008D;
  color: color(display-p3 1 0 0.552/1); }

.page-template a.blue,
.post-template a.blue {
  color: #3C559C;
  color: color(display-p3 0.236 0.332 0.611/1); }

.page-template a.green,
.post-template a.green {
  color: #00C764;
  color: color(display-p3 0 0.781 0.392/1); }

.page-template a.red,
.post-template a.red {
  color: #FF0058;
  color: color(display-p3 1 0 0.343/1); }

.page-template .green,
.post-template .green {
  color: #00C764;
  color: color(display-p3 0 0.781 0.392/1); }

@supports not (color: color(display-p3 1 1 1)) {
  .page-template a.pink,
  .post-template a.pink {
    color: #FF008D; }
  .page-template a.blue,
  .post-template a.blue {
    color: #3C559C; }
  .page-template a.green,
  .post-template a.green {
    color: #00C764; }
  .page-template a.red,
  .post-template a.red {
    color: #FF0058; }
  .page-template .green,
  .post-template .green {
    color: #00C764; } }

article.post-item {
  margin-top: 0.75em; }

article.post-item p {
  font-weight: 600;
  font-size: var(--step-1);
  line-height: 1.25em; }
  article.post-item p a {
    text-decoration: none;
    color: #333333; }
    article.post-item p a:hover {
      text-decoration: underline; }

/* Components */
/* code style adjustments */
code[class*="language-"], pre[class*="language-"] {
  font-size: var(--step--1) !important; }

pre[class*="language-"] {
  margin-bottom: 1em !important; }

/* Menus and stufff */
/*  */
.gl_lesson__sidebar hr {
  background-color: #5B83F6;
  border: none;
  height: 2px;
  width: auto;
  border-radius: 1px; }

.gl_lesson__sidebar ul {
  list-style-type: none;
  padding: 0; }

.logo-text {
  font-family: 'PlayfairDisplay-Black', Arial;
  font-weight: 900;
  font-size: var(--step-1);
  line-height: 1em;
  margin-bottom: 1em;
  font-style: italic;
  display: block;
  position: fixed;
  top: 28px;
  left: 36px;
  text-decoration: none; }

.expanding_menu_background {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0.0;
  pointer-events: none;
  background-color: rgba(231, 231, 231, 0.95);
  overflow: hidden;
  z-index: 900; }
  .expanding_menu_background.opened {
    opacity: 1.0; }

/* site menu */
.expanding_menu_container {
  display: block;
  position: fixed;
  width: 110px;
  height: 80px;
  top: 0px;
  right: 0px;
  padding: 24px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  overflow: visible;
  z-index: 1000; }
  .expanding_menu_container.opened {
    width: 100%; }
    .expanding_menu_container.opened ul.site_nav {
      width: 100%;
      opacity: 1.0; }
      .expanding_menu_container.opened ul.site_nav li:nth-child(5) a:before {
        opacity: 1.0; }
    .expanding_menu_container.opened .menu_logo {
      opacity: 1.0; }
    .expanding_menu_container.opened .expanding_menu_view_substrate {
      transform: translateX(0%); }

.menu_logo {
  display: block;
  position: absolute;
  width: 112px;
  height: 112px;
  border: none;
  right: 8px;
  bottom: 8px;
  transform: scale(0.5);
  opacity: 0.0;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1); }

.expand_menu_button {
  width: auto;
  text-align: right;
  height: 36px;
  line-height: 24px;
  font-size: 18px;
  font-family: "GreycliffCF";
  font-weight: 600;
  display: block;
  position: relative;
  text-decoration: none;
  padding: 6px;
  cursor: pointer;
  color: #535353;
  position: relative;
  z-index: 1000;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }
  .expand_menu_button.transitioning {
    pointer-events: none !important; }
  .expand_menu_button span {
    display: inline-block;
    overflow: hidden;
    width: 0px;
    transition: width 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 0.0;
    text-align: left;
    height: 19px; }
  .expand_menu_button:hover + div.little_bar {
    width: 46px;
    opacity: 1.0; }
  .expand_menu_button.opened ~ div.big_bar {
    width: calc(100% - 48px - 12px);
    opacity: 1.0; }
  .expand_menu_button.opened span {
    width: 52px;
    opacity: 1.0; }

div.little_bar {
  display: block;
  position: absolute;
  top: calc(6px + 24px + 24px);
  right: calc(6px + 24px);
  width: 0px;
  background: #303030;
  opacity: 0.5;
  height: 1px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1); }

div.big_bar {
  display: block;
  position: absolute;
  top: calc(6px + 24px + 24px);
  right: calc(6px + 24px);
  width: 0px;
  background: #303030;
  opacity: 0.5;
  height: 1px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 1000; }

.expanding_menu_view_window {
  display: block;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  overflow: hidden;
  pointer-events: none;
  z-index: 900; }

.opened .expanding_menu_view_window {
  pointer-events: all; }

.expanding_menu_view_substrate {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  overflow: visible;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateX(120%); }

ul.site_nav {
  margin-top: 52px;
  width: 100%;
  opacity: 0.0;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  min-width: 400px;
  position: relative;
  z-index: 900;
  padding: 30px; }
  ul.site_nav li {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #1E1E1E;
    position: relative;
    z-index: 1000; }
    ul.site_nav li a {
      text-decoration: none;
      position: relative;
      z-index: 900; }
  ul.site_nav li:nth-child(2) a {
    color: #FF0058; }
  ul.site_nav li:nth-child(3) a {
    color: #FF008D; }
  ul.site_nav li:nth-child(4) a {
    color: #3C559C; }
  ul.site_nav li:nth-child(5) a {
    color: white;
    position: relative;
    z-index: 900; }
  ul.site_nav li:nth-child(5) span {
    position: relative;
    z-index: 1000; }
  ul.site_nav li:nth-child(5) {
    z-index: 900; }
  ul.site_nav li:nth-child(5) a:before {
    content: "";
    display: block;
    position: absolute;
    height: 450vh;
    width: 250px;
    background-color: #00C764;
    background-color: #00d169;
    background-color: color(display-p3 0 0.781 0.392/1);
    -webkit-transform: rotate(3deg);
    transform: rotate(34deg);
    top: -225vh;
    left: 0%;
    mix-blend-mode: darken;
    z-index: -100;
    pointer-events: none;
    transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 1.0; }

.pagination {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px; }
  .pagination .page-number {
    font-weight: 500; }
  .pagination .page-button {
    background-color: #00C764;
    background-color: color(display-p3 0 0.781 0.392/1);
    padding: 11px;
    border-radius: 16px;
    color: white;
    text-decoration: none;
    transition: border-radius 0.5s cubic-bezier(0.22, 1, 0.36, 1); }
    .pagination .page-button.older-posts {
      margin-left: 32px; }
    .pagination .page-button.newer-posts {
      margin-right: 32px; }
    .pagination .page-button:hover {
      border-radius: 32px; }

@supports not (color: color(display-p3 1 1 1)) {
  .pagination .page-button {
    background-color: #00C764; } }

/* Footer stuff */
.site-footer {
  font-size: var(--step--1);
  padding-bottom: 64px; }
  .site-footer .copyright {
    color: #494949; }
    .site-footer .copyright a {
      text-decoration: none;
      color: #5B83F6;
      font-weight: 600; }
      .site-footer .copyright a:hover {
        text-decoration: underline; }
  .site-footer hr {
    background: none;
    border: none;
    background-color: #A5A5A5;
    height: 1px;
    margin-bottom: 16px; }
  .site-footer .footer-logo {
    width: 56px;
    height: 56px;
    display: block;
    position: absolute;
    right: 0;
    top: 0; }

.footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .footer-columns .column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em; }
  .footer-columns .column1 {
    flex: 3; }
  .footer-columns .column2 {
    flex: 3; }
  .footer-columns .column3 {
    flex: 1; }
  .footer-columns .column:first-child {
    padding-left: 0; }
  .footer-columns .column:last-child {
    padding-left: 0; }

.footer-menu {
  display: block;
  padding: 0;
  margin: 0; }
  .footer-menu li {
    padding: 0;
    margin: 0;
    display: inline;
    margin-right: 12px;
    font-size: var(--step--1); }
    .footer-menu li a {
      font-weight: 600;
      color: #232323;
      text-decoration: none; }
      .footer-menu li a:hover {
        text-decoration: underline; }

@media screen and (max-width: 768px) {
  .footer-columns {
    display: block; }
    .footer-columns .column {
      flex-direction: row;
      padding-left: 0em;
      padding-right: 0em; } }

/* All the junk for subscriptions. Like subscribe boxes, error states, etc.. */
h3.account-styles {
  font-family: 'GreycliffCF', Arial;
  font-weight: 600;
  font-size: var(--step-1);
  line-height: 1.33em;
  margin-bottom: 1em; }

p.account-styles {
  font-family: 'GreycliffCF', Arial;
  font-weight: 600;
  font-size: var(--step-0);
  line-height: 1.5em;
  margin-bottom: 1em; }

.subscribe-form {
  display: block;
  background-color: #f9fffc;
  padding: 32px 20px;
  box-shadow: 0 7px 0 5px #00C764;
  border-radius: 16px; }
  .subscribe-form p.subscript {
    font-family: 'GreycliffCF', Arial;
    font-size: var(--step--1);
    color: #565656;
    line-height: 20px;
    max-width: 20em; }
  .subscribe-form form input {
    width: 300px;
    height: 44px;
    box-sizing: border-box;
    padding: 6px 10px;
    background: #fff;
    border: 2px solid #00c764;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), inset 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin-right: 32px;
    margin-bottom: 1em; }
  .subscribe-form form button {
    background: #00C764;
    border: none;
    border-radius: 19px;
    padding: 12px;
    box-sizing: border-box;
    height: 44px;
    width: 120px;
    line-height: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19); }
  .subscribe-form form.loading input, .subscribe-form form.loading button {
    opacity: 0.5;
    background-color: #ebebeb;
    border-color: #ebebeb;
    color: #333; }
  .subscribe-form form .subscribe-error {
    color: #FF008D; }
  .subscribe-form form .success-message {
    display: none;
    font-size: var(--step-1);
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 1em; }
  .subscribe-form form.success input, .subscribe-form form.success button {
    display: none; }
  .subscribe-form form.success .success-message {
    display: block; }

.button.primary {
  background: #00C764;
  border: none;
  border-radius: 19px;
  padding: 12px;
  box-sizing: border-box;
  height: 44px;
  width: 120px;
  line-height: 20px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19); }
  .button.primary.button-centered {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    max-width: 300px;
    text-align: center;
    text-decoration: none; }
  .button.primary.white {
    color: #111111;
    background-color: white; }

/* Account page */
.account-box {
  display: block;
  background-color: #f9fffc;
  padding: 32px 20px;
  box-shadow: 0 7px 0 5px #00C764;
  border-radius: 16px; }

.subscriber-avatar {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 71px;
  overflow: hidden;
  box-shadow: 0 1px 10px 6px rgba(0, 0, 0, 0.1); }

.signup-page h1 {
  font-size: var(--step-5);
  color: #6E39FF;
  text-align: center;
  line-height: 1.1em;
  margin-top: 2em; }

.signup-page > p {
  font-size: var(--step-1);
  line-height: 1.3333em;
  font-weight: 600;
  color: #333333;
  margin-top: 1.5em; }
  .signup-page > p a.red {
    color: #FF0058;
    text-decoration: none; }
    .signup-page > p a.red:hover {
      text-decoration: underline; }

ul.feature-list {
  padding: none;
  list-style: none;
  padding-left: 1em;
  margin-top: 0em; }
  ul.feature-list li {
    display: inline-block;
    padding: 0px 10px;
    background: #EEEEEE;
    font-size: var(--step-0);
    line-height: 1.5em;
    border-radius: 20px;
    margin-top: 12px; }

/* Fancy Card thing */
.pricing-matrix {
  margin-top: 10em; }
  .pricing-matrix #matrixchecker {
    display: none; }
  .pricing-matrix #matrixchecker:checked + .matrix-banner {
    background-color: #F2EEFF; }
  .pricing-matrix #matrixchecker:checked + .matrix-banner p:first-child {
    color: #333333; }
  .pricing-matrix #matrixchecker:checked + .matrix-banner p:last-child {
    color: #6E39FF; }
  .pricing-matrix #matrixchecker:checked + .matrix-banner label {
    background-color: #6E39FF; }
  .pricing-matrix #matrixchecker:checked + .matrix-banner label::before {
    transform: translateX(28px); }
  .pricing-matrix .matrix-banner {
    width: 100%;
    max-width: 540px;
    height: 54px;
    display: block;
    position: relative;
    margin: 2em auto;
    background-color: #FDE9F0;
    border-radius: 15px; }
    .pricing-matrix .matrix-banner label {
      display: block;
      position: absolute;
      background-color: #FF0058;
      width: 60px;
      height: 32px;
      top: 11px;
      bottom: 11px;
      left: 50%;
      cursor: pointer;
      border-radius: 16px;
      cursor: pointer;
      z-index: 1000;
      margin-left: -30px; }
      .pricing-matrix .matrix-banner label::before {
        content: "";
        width: 28px;
        height: 28px;
        border-radius: 14px;
        background-color: white;
        pointer-events: none;
        position: absolute;
        left: 2px;
        top: 2px;
        bottom: 2px;
        transition: transform 0.17s ease-in-out; }
    .pricing-matrix .matrix-banner p {
      font-size: var(--step-1);
      color: #333333;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 32px;
      padding: 11px 25px;
      z-index: 100;
      font-weight: 600; }
    .pricing-matrix .matrix-banner p:first-child {
      text-align: left;
      color: #FF0058; }
    .pricing-matrix .matrix-banner p:last-child {
      text-align: right; }
  .pricing-matrix .card-holder {
    width: 100%;
    max-width: 540px;
    height: 474px;
    position: relative;
    display: block;
    margin: 4em auto; }
  .pricing-matrix .pricing-card {
    width: 300px;
    height: auto;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 32px 20px;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 13px 5px rgba(0, 0, 0, 0.1); }
    .pricing-matrix .pricing-card h3 {
      font-size: 48px;
      line-height: 30px;
      color: white;
      text-align: center;
      font-weight: 600;
      margin-top: 32px;
      margin-bottom: 32px; }
      .pricing-matrix .pricing-card h3 span {
        font-size: 16px; }
    .pricing-matrix .pricing-card p {
      font-size: 20px;
      line-height: 30px;
      color: white;
      text-align: center;
      margin-top: 32px;
      margin-bottom: 32px;
      font-weight: 500;
      transition: margin 0.5s ease-in-out, opacity 0.5s ease-in-out; }
    .pricing-matrix .pricing-card.red {
      background-color: #ff0058;
      color: white;
      top: 0;
      left: 0;
      z-index: 1000;
      transform: scale(1) translateY(0px); }
      .pricing-matrix .pricing-card.red p + p {
        opacity: 1.0;
        margin: 32px; }
    .pricing-matrix .pricing-card.purple {
      background-color: #6e39ff;
      color: white;
      top: 0;
      right: 0;
      z-index: 100;
      transform: scale(0.8) translateY(40px); }
      .pricing-matrix .pricing-card.purple p + p {
        opacity: 0;
        margin: -15px; }
    .pricing-matrix .pricing-card.grey {
      background-color: #f3f3f3;
      color: #3d3d3d; }
    .pricing-matrix .pricing-card button {
      width: 100%; }
    .pricing-matrix .pricing-card .button.primary {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
      border-radius: 16px;
      width: 100%;
      height: 44px; }
  .pricing-matrix #matrixchecker:checked ~ .card-holder .pricing-card.red {
    z-index: 100;
    transform: scale(0.8) translateY(40px); }
    .pricing-matrix #matrixchecker:checked ~ .card-holder .pricing-card.red p + p {
      opacity: 0;
      margin: -15px; }
  .pricing-matrix #matrixchecker:checked ~ .card-holder .pricing-card.purple {
    z-index: 1000;
    transform: scale(1) translateY(0px); }
    .pricing-matrix #matrixchecker:checked ~ .card-holder .pricing-card.purple p + p {
      opacity: 1.0;
      margin: 32px; }

/* Koenig styles to support */
/*
  Styles required by ghost.
*/
.kg-width-wide {
  font-family: arial; }

.kg-width-full {
  font-family: arial; }

.kg-image-card,
.kg-gallery-card {
  margin: 0 0 1.5em; }

.kg-image-card figcaption,
.kg-gallery-card figcaption {
  margin: -1.0em 0 1.5em; }

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  width: 90vw;
  display: inline-block;
  margin-left: 50%;
  margin-right: -20%;
  transform: translateX(-50%);
  max-width: 800px; }

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%; }

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0; }

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em; }

.kg-bookmark-card {
  font-family: arial; }

.kg-bookmark-container {
  font-family: arial; }

.kg-bookmark-content {
  font-family: arial; }

.kg-bookmark-title {
  font-family: arial; }

.kg-bookmark-description {
  font-family: arial; }

.kg-bookmark-metadata {
  font-family: arial; }

.kg-bookmark-icon {
  font-family: arial; }

.kg-bookmark-author {
  font-family: arial; }

.kg-bookmark-publisher {
  font-family: arial; }

.kg-bookmark-thumbnail {
  font-family: arial; }

/* Let's style just the stuff that goes into a post and a page from the koenig editor thingy */
body {
  font-size: var(--step-0); }

.koenig-zone {
  padding-right: var(--step-1);
  padding-left: var(--step-1);
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  max-width: 780px; }

.koenig-zone > h1 {
  font-size: var(--step-5); }

.koenig-zone > h2 {
  font-size: var(--step-4); }

.koenig-zone > h3 {
  font-size: var(--step-3); }

.koenig-zone > blockquote {
  font-size: var(--step-2); }

.koenig-zone > p:first-of-type {
  font-size: var(--step-1); }

.koenig-zone > p {
  font-size: var(--step-0); }

.additive-spacing {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.insulate {
  padding-bottom: var(--step-5);
  padding-top: var(--step-5); }

.style {
  display: block; }

.construction-box {
  padding: 10px;
  border: 14px solid orange;
  box-sizing: border-box;
  margin-bottom: 1em;
  margin-top: 1em; }

/*
  Styles required by ghost.
*/
.kg-width-wide {
  font-family: arial; }

.kg-width-full {
  font-family: arial; }

.kg-image-card,
.kg-gallery-card {
  margin: 0 0 1.5em; }

.kg-image-card figcaption,
.kg-gallery-card figcaption {
  margin: -1.0em 0 1.5em; }

.kg-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1.5em auto;
  width: 90vw;
  display: inline-block;
  margin-left: 50%;
  margin-right: -20%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 800px; }

.kg-gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%; }

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0; }

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em; }

.kg-bookmark-card {
  font-family: arial; }

.kg-bookmark-container {
  font-family: arial; }

.kg-bookmark-content {
  font-family: arial; }

.kg-bookmark-title {
  font-family: arial; }

.kg-bookmark-description {
  font-family: arial; }

.kg-bookmark-metadata {
  font-family: arial; }

.kg-bookmark-icon {
  font-family: arial; }

.kg-bookmark-author {
  font-family: arial; }

.kg-bookmark-publisher {
  font-family: arial; }

.kg-bookmark-thumbnail {
  font-family: arial; }

/* Let's style just the stuff that goes into a post and a page from the koenig editor thingy */
body {
  font-size: var(--step-0); }

.koenig-zone {
  padding-right: var(--step-1);
  padding-left: var(--step-1);
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  max-width: 780px; }

.koenig-zone > h1 {
  font-size: var(--step-5); }

.koenig-zone > h2 {
  font-size: var(--step-4); }

.koenig-zone > h3 {
  font-size: var(--step-3); }

.koenig-zone > blockquote {
  font-size: var(--step-2); }

.koenig-zone > p:first-of-type {
  font-size: var(--step-1); }

.koenig-zone > p {
  font-size: var(--step-0); }

.additive-spacing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.insulate {
  padding-bottom: var(--step-5);
  padding-top: var(--step-5); }
