// Apps

.app-matrix {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 620px;
  background-color: #1C006B;
  color:white;
  font-size: 24px;
  line-height: 64px;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  &.coming-soon {
    .app-row {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .coming-soon-overlay {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    color: black;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    border-radius: 20px;
    padding: 32px;
    background: white;
    z-index: 100;
    width: 240px;
    transform: translateX(-120px) translateY(-48px);
    transition: transform 0.15s ease-in-out;

    &:hover {
        transform: scale(1.2) translateX(-100px) translateY(-40px);
    }

  }

  .app-row {
    display: block;
    width: calc(50% - 60px);
    margin:15px 30px;
    font-weight: 600;
    color: white !important;
    cursor: pointer;
    background-color: transparent !important;

    transition: transform 0.1s ease-in-out;

    &:hover {
      .app-icon {
        transform: scale(1.2);
      }
    }

    .app-icon {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
      background-position: center center;
      background-size: 64px 64px;
      float: left;
      margin-right: 16px;
      transition: transform 0.12s ease-in-out;

      &.mathematical {
        background-image: url("/assets/images/apps/appicon-mathematical.svg");
      }
      &.gouda {
        background-image: url("/assets/images/apps/appicon-gouda.svg");
      }
      &.blaster {
        background-image: url("/assets/images/apps/appicon-blaster.svg");
      }
      &.dubbble {
        // background-image: url("/assets/images/apps/appicon-dubbble.svg");
        background-image: url("/assets/images/apps/appicon-dubbble@3x.png");
      }
      &.cheddar {
        background-image: url("/assets/images/apps/appicon-cheddar.svg");
      }
      &.milkjar {
        background-image: url("/assets/images/apps/appicon-milkjar.svg");
      }

    }
  }
}

@media (max-width: 768px) {
  .app-matrix {
    max-width: 300px;
    width: 100%;
    .app-row {
      width: calc(100% - 60px);
    }
  }
}
