// book.scss

// sidebar specific styles
.gl_lesson__sidebar {
  margin-top: 10em !important;
  background: white;
  border-radius: 19px;
  padding: 16px;

  .chapter-accessory {
    display: block;
    width: 200px;
    height: 200px;
    background: #FF0058;
    background-color: color(display-p3 1 0 0.345/1);
    border-radius: 100px;
    left: 50%;
    margin-left: -100px;
    margin-top: -65%;
    z-index: -1000;
    position: relative;
    h4 {
      padding: 0px 13px;
      padding-top: 57px;
    }
    h3 {
      padding: 0px 20px;
      text-align: center;
      font-size: 6rem;
      margin-top: -5rem;
    }
  }

  .chapter-accessory.hidden + h2 {
    margin-top: -50px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
  }

  hr {
    margin-bottom: 14px;
    margin-top: 17px;
    background-color: #FF0058;
    background-color: color(display-p3 1 0 0.345/1);
    border: none;
    height: 2px;
    border-radius: 2px;
  }

  ul {
    margin: 0;
  }

  li {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }

  a {
    color: #444444 !important;
    text-decoration: none;

    font-size: 14px;
    line-height: 24px;
    margin: 0;

    &:hover {
      text-decoration: underline;
      color: #FF0058 !important;
      color: color(display-p3 1 0 0.345/1) !important;
    }

    &.current-page {
      font-weight: 800;
      font-size: 16px;
    }
  }

}

@media (max-width: 479px) {
  .gl_lesson__sidebar {
    position: relative;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);


    hr {
      opacity: 0;
      transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
    }

    &.opened {
      height: 70vh;
      overflow: scroll;
      hr {
        opacity: 1.0;
      }
    }

    .burger {
      border: none;
      padding: 0;
      margin: 0;
      // show the burger
      display: block;
      height: 60px;
      width: 60px;
      position: absolute;
      right: 0px;
      top: 0px;
      background-image: url("/assets/images/MenuBurger.svg");
      background-size: 60px 60px;
      background-position: center center;
      transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
      &:hover {
        transform: scale(1.3);
      }
    }
    &.opened .burger { // show the X
      background-image: url("/assets/images/MenuBurgerX.svg");
    }
  }
}



/* lesson-cards */
.lesson-card, .post-card {
  position: relative;
  display: block;
  max-width: 510px;
  @include typeface-system-ui;
  color: #111111;
  text-decoration: none !important;
  border-bottom: 2px solid #E2E2E2;
  transition: all 0.2s cubic-bezier(0.22, 1, 0.36, 1);
  padding: 10px;
  padding-bottom:24px;
  padding-top:24px;
  box-sizing: content-box;

  &.feature_image {
    .expando {
      display: none;
    }
    img {
      margin-top:-24px;
      margin-right: -10px;
      margin-left: -10px;
      max-width: calc(100% + 20px);
      transition: all 0.2s cubic-bezier(0.22, 1, 0.36, 1);
    }
    h2 {
      position: absolute;
      left: 26px;
      right: 26px;
      bottom: 40px;
      color:white;
    }
  }

  &:not(.lesson-card) {
    margin-top: 30px;
  }

  &.tag-newsletter {
    color:white;
    background-color: transparent !important;
    border-bottom: 0px solid transparent;
    &:hover {
      
      color: black;
    }
    .expando {
      background: white !important;
    }
    .tag-field {
      display: none;
    }
  }

  h3 {
    font-size: var(--step-1);
    line-height: 1.2em;
    font-weight: 600;
  }

  h2 {
    font-size: var(--step-2);
    line-height: 1.2em;
    font-weight: 700;
  }

  .expando {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    width: auto;
    height: auto;
    z-index: -1000;
    transition: all 0.2s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .minutes {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 77px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    background-color: $swift-color;
    background-color: $swift-color-p3;
    transition: all 0.2s cubic-bezier(0.22, 1, 0.36, 1);

    &:hover {
        transform: scale(1.2);
    }
  }

  // .tag-field {
  //   display:block;
  //   top: 0px;
  //   right: 0px;
  //   width: 100%;
  //   height: 32px;
  //   position: absolute;
  //   .tag {
  //     display: inline-block;
  //     float: right;
  //     margin: 0;
  //     padding-left: 10px;
  //     padding-right: 10px;
  //     width: auto;
  //     height: 32px;
  //     line-height: 32px;
  //     text-align: center;
  //     color: white;
  //     background-color: $swift-color;
  //     background-color: $swift-color-p3;
  //     transition: all 0.2s cubic-bezier(0.22, 1, 0.36, 1);
  //     font-weight: 600;
  //
  //     // colors for different named tags:
  //     &.tag-tutorials { background-color: #FFD039; color: #111; }
  //     &.tag-getting-started { background-color: #FFD039; color: #111; }
  //     &.tag-swift { background-color: #FF0058; background-color: color(display-p3 1 0 0.343 / 1); }
  //     &.tag-blog { background-color: #FFD039; color: #111; }
  //     &.tag-apps { background-color: #FFD039; color: #111; }
  //     &.tag-courses { background-color: #FFD039; color: #111; }
  //     &.tag-cheddar { background-color: #FFD039; color: #111; }
  //     &.tag-javascript { background-color: #FFD039; color: #111; }
  //     &.tag-newsletter { background-color: #FFD039; color: #111; }
  //     &.tag-design { background-color: #00C764; background-color: color(display-p3 0 0.781 0.392 / 1); }
  //     &.tag-newsletter { background-color: #FFD039; color: #111; }
  //     &.tag-newsletter { background-color: #FFD039; color: #111; }
  //
  //
  //     &:hover {
  //       transform: scale(1.2);
  //     }
  //   }
  // }

  &:hover {
    text-decoration: none !important;
    &.feature_image {
      transform: scale(1.1);
    }

    .expando {
      background: #E2E2E2;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;
    }

  }

}


// show hide logic for post-card
.post-card.hidden {
  margin: 0;
  pointer-events: none;
  transform: scale(0);
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 0 !important;
  marign: 0px !important;
}

.aside-box {
  display: block;
  float: right;
  margin-right:-2rem;
  border-radius: 14px;
  background: #DFDFDF;
  padding: 16px;
  width :100%;
  max-width: 416px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;

  h2 {
    color: #3D3D3D;
    font-size: var(--step-1);
  }
  p {
    color: #565656;
    font-size: var(--step-0);
  }

}

@media (max-width: 649px) {
  .aside-box {
    margin-left: 0rem;
    margin-right: 0rem;
    float:none;
  }
}


.gl_lesson__content_wrapper {
  * {
    @include typeface-system-ui;
  }

  .content {
    max-width: 736px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    color: #FF0058;
    color: color(display-p3 1 0 0.345/1);
    font-weight: 600;
    font-size: var(--step-4)
  }
  .content .excerpt {
    margin-top: 1rem !important;
  }
  .content hr {
    background-color: #A6A6A6;
    height: 2px;
    margin-top: 16px;
  }
}
