// forms


form {

  &.narrow {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;


    .button.primary {
      width: 100%;
    }
  }

  label {
    font-size: var(--step--1);
    line-height: 1em;
    font-family: 'GreycliffCF', Arial;
    padding-left: 0.5em;
    color: #333;
    margin-top: 2em;
    display: inline-block
  }
  
  input {
    // width: 100%;
    width: 300px;
    border: none;
    display: block;
    // margin-left: calc(-1 * var(--size-plus-huge));
    background: #FFFFFF;
    // box-shadow: 0 2px 13px 0 rgba(255,255,255,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50), inset 0 -1px 3px 0 rgba(0,0,0,0.50);
    box-shadow: 0 2px 13px 0 rgba(255,255,255,0.50);
    border-radius: 19px;
    height: 44px;
    padding-left: 12px;
    
    margin-bottom: 1em;
    
  }
  
  button {
    margin-bottom: 1em;
  }
  
}



/* Button styles */
.button {
  &.primary {
    background: #00C764;
    border: none;
    border-radius: 19px;
    padding: 12px;
    box-sizing: border-box;
    height: 44px;
    width: 120px;
    line-height: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);
  
    transition: transform 0.12s ease-in-out;
  
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  
    &:hover {
      transform: scale(1.1);
    }
  
    &.button-centered {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-right: auto;
      margin-left: auto;
      display: block;
      width: 100%;
      max-width: 300px;
      text-align: center;
      text-decoration: none;
    }
  
    &.white {
      color: #111111;
      background-color: white;
    }
  }

}