/* Menus and stufff */

/*  */
.gl_lesson__sidebar {

  h2 {

  }

  hr {
    background-color: #5B83F6;
    border: none;
    height: 2px;
    width: auto;
    border-radius: 1px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

}

.logo-text {
  font-family: 'PlayfairDisplay-Black', Arial;
  font-weight: 900;
  font-size: var(--step-1);
  line-height: 1em;
  margin-bottom: 1em;
  font-style: italic;
  display: block;
  position: fixed;
  top: 28px;
  left: 36px;
  text-decoration: none;
}

.expanding_menu_background {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0.0;
  pointer-events: none;
  background-color: rgba(231,231,231,0.95);
  overflow: hidden;
  z-index: 900;
  &.opened {
    opacity: 1.0;
  }
}

/* site menu */
.expanding_menu_container {
  display: block;
  position: fixed;
  width: 110px;
  height: 80px;
  top: 0px;
  right: 0px;
  padding:24px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  overflow: visible;
  z-index: 1000;

  &.opened {
    width: 100%;

    ul.site_nav {
      width: 100%;
      opacity: 1.0;
      li:nth-child(5) a:before {
        opacity: 1.0;
      }
    }

    .menu_logo {
      opacity: 1.0;
    }

    .expanding_menu_view_window {

    }
    .expanding_menu_view_substrate {
      transform: translateX(0%);
    }

  }
}

.menu_logo {
  display: block;
  position: absolute;
  width: 112px;
  height: 112px;
  border: none;
  right: 8px;
  bottom: 8px;
  transform: scale(0.5);
  opacity: 0.0;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);

}

.expand_menu_button {
  width: auto;
  text-align: right;
  height: 36px;
  line-height: 24px;
  font-size: 18px;
  font-family: "GreycliffCF";
  font-weight: 600;
  // border-bottom: 1px solid black;
  display:block;
  position: relative;
  text-decoration: none;
  padding: 6px;
  cursor: pointer;
  color: #535353;

  position: relative;
  z-index: 1000;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

  &.transitioning {
    pointer-events: none !important;
  }

  span {
    display: inline-block;
    overflow: hidden;
    width: 0px;
    transition: width 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 0.0;
    text-align: left;
    height: 19px;
  }

  &:hover + div.little_bar {
    width: 46px;
    opacity: 1.0;
  }

  &.opened ~ div.big_bar{
    width: calc(100% - 48px - 12px);
    opacity: 1.0;
  }

  &.opened {
    span {
      width: 52px;
      opacity: 1.0;
    }

  }
}

div.little_bar {
  display: block;
  position: absolute;
  top: calc(6px + 24px + 24px);
  right: calc(6px + 24px);
  width: 0px;
  background: #303030;
  opacity: 0.5;
  height: 1px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

div.big_bar {
  display: block;
  position: absolute;
  top: calc(6px + 24px + 24px);
  right: calc(6px + 24px);
  width: 0px;
  background: #303030;
  opacity: 0.5;
  height: 1px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 1000;
}

.expanding_menu_view_window {
  display: block;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  overflow: hidden;
  pointer-events: none;
  z-index: 900;
}
.opened .expanding_menu_view_window {
  pointer-events: all;
}

.expanding_menu_view_substrate {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  overflow: visible;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateX(120%);
}

ul.site_nav {
  margin-top: 52px;
  width: 100%;
  opacity: 0.0;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  min-width: 400px;
  position: relative;
  z-index: 900;
  padding: 30px;

  li {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #1E1E1E;
    position: relative;
    z-index: 1000;
    a {
      text-decoration: none;
      position: relative;
      z-index: 900;
    }

  }
  li:nth-child(2) a { color: #FF0058;}
  li:nth-child(3) a { color: #FF008D;}
  li:nth-child(4) a { color: #3C559C;}
  li:nth-child(5) a {
    color: white;
    position: relative;
    z-index: 900;
  }
  li:nth-child(5) span {
    position: relative;
    z-index: 1000;
  }
  li:nth-child(5) {
    z-index: 900;
  }
  li:nth-child(5) a:before {
    content: "";
    display: block;
    position: absolute;
    height: 450vh;
    width: 250px;
    background-color: #00C764;
    background-color: hsl(150, 100%, 41%);
    background-color: color(display-p3 0 0.781 0.392/1);
    -webkit-transform: rotate(3deg);
    transform: rotate(34deg);
    top: -225vh;
    left: 0%;
    mix-blend-mode: darken;
    z-index: -100;
    pointer-events: none;
    transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 1.0;
  }
}


/* New Pill like site menu */
