/* Menus and stufff */
.header_menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: white;
  z-index: 2000;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      display: inline-block;
      text-align: left;
      height: 60px;
      padding: 0;
      margin-top: 0px !important;
      @include type-title-4;
      font-size: 26px !important;
      line-height: 60px !important;
      letter-spacing: -1px !important;

      a {
        padding-left:20px;
        padding-right:20px;
        height: 60px;
        color: $text-color !important;
        color: $text-color-p3 !important;
        line-height: 60px !important;
        height: 60px !important;
        display: block;
        text-decoration: none;
        &:hover {
          // background: blue !important;
          // color: white !important;
        }
      }

      &.nav-blog a:hover {
        background-color: $blog-color !important;
        background-color: $blog-color-p3 !important;
      }

      &.nav-swift-foundations { min-width: 245px; }
      &.nav-swift-foundations a:hover {
        color: white !important;
        background-color: $swift-color !important;
        background-color: $swift-color-p3 !important;
      }

      &.nav-apps a:hover {
        color: white !important;
        background-color: $apps-color !important;
        background-color: $apps-color-p3 !important;
      }

      &.nav-tutorials a:hover {
        background-color: $tutorial-color !important;
        background-color: $tutorial-color-p3 !important;
      }

      &.nav-courses a:hover {
        color: white !important;
        background-color: $courses-color !important;
        background-color: $courses-color-p3 !important;
      }

      &.nav-newsletter a:hover {
        color: white !important;
        background-color: $newsletter-color !important;
        background-color: $newsletter-color-p3 !important;
      }

      &.login-list-link-thing {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3000;
        background: white;
      }
      a.login-button:hover {
        color: white !important;
        background-color: $soft-text-color !important;
        background-color: $soft-text-color-p3 !important;
      }




    }
  }

}

.mobile-site-title {
  display: none;
}


@media (max-width: 960px) {
  // make everything mobile in this menu thing.

  body.rigid {
    overflow: hidden;
  }

  .mobile-site-title {
    display: block;
    width: 100%;
    height: 60px;
    @include type-title-4;
    font-size: 26px !important;
    line-height: 60px !important;
    letter-spacing: -1px !important;
    text-align: center;
    margin-top: 0em;
    a {
      text-decoration: none;
      cursor: pointer;
      color: $text-color !important;
      color: $text-color-p3 !important;
      text-align: center;
    }
  }

  .scene {
    position: relative;
    display: block;
    z-index: 4000;
    position: absolute;
top: 0;
right: 0;
  }

  .header_menu {
    display: block;
    height: 60px;
    transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
    overflow: hidden;

    &.opened {
      height: 100vh;
      ul {
        overflow: scroll;
        height: calc(100vh - 60px);
      }
    }
  }

  .header_menu ul {
    display: block;
    overflow: scroll;
    height: auto;
    padding-bottom: 20px;
    padding: 20px;

    li {

      float: left;
      clear: both;
      margin-left: 20px;
      margin-bottom: 20px;

      &.login-list-link-thing {
        position: relative;
        background: transparent;
      }

      &.nav-blog a {
        background-color: $blog-color !important;
        background-color: $blog-color-p3 !important;
      }

      &.nav-swift-foundations { min-width: 245px; }
      &.nav-swift-foundations a {
        color: white !important;
        background-color: $swift-color !important;
        background-color: $swift-color-p3 !important;
      }

      &.nav-apps a {
        color: white !important;
        background-color: $apps-color !important;
        background-color: $apps-color-p3 !important;
      }

      &.nav-tutorials a {
        background-color: $tutorial-color !important;
        background-color: $tutorial-color-p3 !important;
      }

      &.nav-courses a {
        color: white !important;
        background-color: $courses-color !important;
        background-color: $courses-color-p3 !important;
      }

      &.nav-newsletter a {
        color: white !important;
        background-color: $newsletter-color !important;
        background-color: $newsletter-color-p3 !important;
      }

      &.login-list-link-thing {
        background: white;
      }
      a.login-button {
        color: white !important;
        background-color: $soft-text-color !important;
        background-color: $soft-text-color-p3 !important;
      }

    }
  }


}

// make a 3d cube from this fancy tutorial: https://3dtransforms.desandro.com/cube
.scene {
  width: 60px;
  height: 60px;
  perspective: 180px;
  transform-style: preserve-3d;
  transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-30px);
  transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
  cursor: pointer;
}
.cube__face {
  position: absolute;
  width: 60px;
  height: 60px;
}

.cube__face--front { background-color:white;}
.cube__face--back { background-color:white;}
.cube__face--right { background-color:$blog-color; background-color:$blog-color-p3;}
.cube__face--left { background-color:$swift-color; background-color:$swift-color-p3;}
.cube__face--top { background-color:$newsletter-color; background-color:$newsletter-color-p3;}
.cube__face--bottom { background-color:$tutorial-color; background-color: $tutorial-color-p3;}

.cube__face--front  { transform: rotateY(  0deg) translateZ(30px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(30px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(30px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(30px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(30px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(30px); }

.scene:hover {
  // transform: rotateY(360deg);
  .cube {
    // transform: translateZ(-60px) rotateY(181deg) rotateX(23deg);
    transform: translateZ(-60px) rotateY(41deg) rotateX(23deg); // chin up
  }
}

.scene.opened {
  .cube {
    transform: translateZ(-60px) rotateY(180deg); // chin down
  }
}

.scene.opened:hover {
  .cube {
    transform: translateZ(-60px) rotateY(-152deg) rotateX(21deg); // chin down
  }
}






/*  */
.gl_lesson__sidebar {
  hr {
    // background-color: grey;
    border: none;
    height: 2px;
    width: auto;
    border-radius: 1px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.logo-text {
  font-family: 'PlayfairDisplay-Black', Arial;
  font-weight: 900;
  font-size: var(--step-1);
  line-height: 1em;
  margin-bottom: 1em;
  font-style: italic;
  display: block;
  position: fixed;
  top: 28px;
  left: 36px;
  text-decoration: none;
}

.expanding_menu_background {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0.0;
  pointer-events: none;
  background-color: rgba(231,231,231,0.95);
  overflow: hidden;
  z-index: 900;
  &.opened {
    opacity: 1.0;
  }
}

/* site menu */
.expanding_menu_container {
  display: block;
  position: fixed;
  width: 110px;
  height: 80px;
  top: 0px;
  right: 0px;
  padding:24px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  overflow: visible;
  z-index: 1000;

  &.opened {
    width: 100%;

    ul.site_nav {
      width: 100%;
      opacity: 1.0;
      li:nth-child(5) a:before {
        opacity: 1.0;
      }
    }

    .menu_logo {
      opacity: 1.0;
    }

    .expanding_menu_view_window {

    }
    .expanding_menu_view_substrate {
      transform: translateX(0%);
    }

  }
}

.menu_logo {
  display: block;
  position: absolute;
  width: 112px;
  height: 112px;
  border: none;
  right: 8px;
  bottom: 8px;
  transform: scale(0.5);
  opacity: 0.0;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);

}

.expand_menu_button {
  width: auto;
  text-align: right;
  height: 36px;
  line-height: 24px;
  font-size: 18px;
  font-family: "GreycliffCF";
  font-weight: 600;
  // border-bottom: 1px solid black;
  display:block;
  position: relative;
  text-decoration: none;
  padding: 6px;
  cursor: pointer;
  color: #535353;

  position: relative;
  z-index: 1000;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

  &.transitioning {
    pointer-events: none !important;
  }

  span {
    display: inline-block;
    overflow: hidden;
    width: 0px;
    transition: width 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 0.0;
    text-align: left;
    height: 19px;
  }

  &:hover + div.little_bar {
    width: 46px;
    opacity: 1.0;
  }

  &.opened ~ div.big_bar{
    width: calc(100% - 48px - 12px);
    opacity: 1.0;
  }

  &.opened {
    span {
      width: 52px;
      opacity: 1.0;
    }

  }
}

div.little_bar {
  display: block;
  position: absolute;
  top: calc(6px + 24px + 24px);
  right: calc(6px + 24px);
  width: 0px;
  background: #303030;
  opacity: 0.5;
  height: 1px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

div.big_bar {
  display: block;
  position: absolute;
  top: calc(6px + 24px + 24px);
  right: calc(6px + 24px);
  width: 0px;
  background: #303030;
  opacity: 0.5;
  height: 1px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 1000;
}

.expanding_menu_view_window {
  display: block;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  overflow: hidden;
  pointer-events: none;
  z-index: 900;
}
.opened .expanding_menu_view_window {
  pointer-events: all;
}

.expanding_menu_view_substrate {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  overflow: visible;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateX(120%);
}

ul.site_nav {
  margin-top: 52px;
  width: 100%;
  opacity: 0.0;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  min-width: 400px;
  position: relative;
  z-index: 900;
  padding: 30px;

  li {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #1E1E1E;
    position: relative;
    z-index: 1000;
    a {
      text-decoration: none;
      position: relative;
      z-index: 900;
    }

  }
  li:nth-child(2) a { color: #FF0058;}
  li:nth-child(3) a { color: #FF008D;}
  li:nth-child(4) a { color: #3C559C;}
  li:nth-child(5) a {
    color: white;
    position: relative;
    z-index: 900;
  }
  li:nth-child(5) span {
    position: relative;
    z-index: 1000;
  }
  li:nth-child(5) {
    z-index: 900;
  }
  li:nth-child(5) a:before {
    content: "";
    display: block;
    position: absolute;
    height: 450vh;
    width: 250px;
    background-color: #00C764;
    background-color: hsl(150, 100%, 41%);
    background-color: color(display-p3 0 0.781 0.392/1);
    -webkit-transform: rotate(3deg);
    transform: rotate(34deg);
    top: -225vh;
    left: 0%;
    mix-blend-mode: darken;
    z-index: -100;
    pointer-events: none;
    transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 1.0;
  }
}


/* New Pill like site menu */
nav.pill-menu {
  display: flex;
  position: relative;
  width: 100%;
  height: 64px;
  background-color: white;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.14);
  border-radius: 19px;
  overflow: hidden;
  z-index: 1000;
  margin-bottom: var(--size-large);

  .logo-element {
    font-family: 'PlayfairDisplay-Black', Arial;
    font-weight: 900;
    font-size: var(--step-1);
    line-height: 64px;
    margin-bottom: 1em;
    font-style: italic;
    display: inline-block;
    text-decoration: none;
    margin-left: 15px;
  }

  ul.pill-menu-list {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    height: 64px;
    line-height: 64px;

    li {
      display: inline;
      margin-right: 0.5rem;

      a {
        display: inline-block;
        text-decoration: none;
        transition: transform 0.11s ease-in-out;

        font-family: "GreycliffCF";
        font-weight: 600;
        color: #333333;
        font-size: 1rem;

        &:hover {
          transform: scale(1.05);
          text-decoration: underline;
        }
      }
    }
  }

  .login-button {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    bottom: 15px;
    z-index: 1001;

    border:none;
    background: #E9E9E9;
    padding: 0px 15px;
    line-height: 34px;
    height: 34px;

    border-radius: 10px;

    font-family: "GreycliffCF";
    font-weight: 600;
    color: #333333;
    font-size: 1rem;

    cursor: pointer;
    text-decoration: none;

    transition: all 0.11s ease-in-out;

    box-shadow: 0 0 0 0 rgba(0,0,0,0.07);

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);
    }

  }

}
