/*
  Sections.

  Differences in independent sections of the site. Modifications of layout etc...
 */


/* Newsletter sections. Or children of Newsletter pages. */

/*newsletter variables */
$brand-color-newsletter: #006FFF;
$brand-color-newsletter-p3: color(display-p3 0 0.433 1 / 1);

body.newsletter-template {
  background: #D2D2D2;
  .page-template .content a,
  .post-template .content a,
  ul.index-list a  {
    background-color: $brand-color-newsletter;
    background-color: $brand-color-newsletter-p3;
  }
  .article__text-box h1 {
    color: $brand-color-newsletter;
    color: $brand-color-newsletter-p3;
    mix-blend-mode: normal;
  }
}

/*Blog variables */
$brand-color-blog: #00C764;
$brand-color-blog-p3: color(display-p3 0 0.781 0.394 / 1);

body.blog-template {
  background: #D2D2D2;
  .page-template .content a,
  .post-template .content a,
  ul.index-list a  {
    color: #111;
    text-decoration: none;
    background-color: $brand-color-blog;
    background-color: $brand-color-blog-p3;
  }
  .article__text-box h1 {
    color: #111;
    background-color: $brand-color-blog;
    background-color: $brand-color-blog-p3;
    mix-blend-mode: normal;
  }
}

/*Book variables */
$brand-color-book: #FF0058;
$brand-color-book-p3: color(display-p3 1 0 0.345 / 1);

body.book-template.post-template, body.book-template.page-template, body.book-template {
  background: #D2D2D2;
  .page-template .content a,
  .post-template .content a,
  ul.index-list a,{
    color:white;
    text-decoration: none;
    background-color: $brand-color-book;
    background-color: $brand-color-book-p3;
  }
  .article__text-box h1 {
    color: $brand-color-book;
    color: $brand-color-book-p3;
    mix-blend-mode: normal;
  }
}

/*courses variables */
$brand-color-courses: #6E39FF;
$brand-color-courses-p3:  color(display-p3 0.429 0.222 1 / 1);

body.courses-template {
  background: #D2D2D2;
  .page-template .content a,
  .post-template .content a,
  ul.index-list a,
  article.post a {
    color:white;
    text-decoration: none;
    background-color: $brand-color-courses;
    background-color: $brand-color-courses-p3;
  }
  .article__text-box h1 {
    color: $brand-color-courses;
    color: $brand-color-courses-p3;
    mix-blend-mode: normal;
  }
}


/*apps variables */
$brand-color-apps: #FF008D;
$brand-color-apps-p3: color(display-p3 1 0 0.553 / 1);

body.apps-template {
  background: #D2D2D2;
  .page-template .content a,
  .post-template .content a,
  ul.index-list a,
  article.post a {
    color:white;
    text-decoration: none;
    background-color: $brand-color-apps;
    background-color: $brand-color-apps-p3;
  }
  .article__text-box h1 {
    color: $brand-color-apps;
    color: $brand-color-apps-p3;
    mix-blend-mode: normal;
  }
}

/*apps variables */
$brand-color-tags: #FFD039;
$brand-color-tags-p3: color(display-p3 1 0.815 0.223 / 1);

body.tag-template {
  background: #D2D2D2;
  .page-template .content a,
  .post-template .content a,
  ul.index-list a,
  article.post a {
    color:#111;
    text-decoration: none;
    background-color: $brand-color-tags;
    background-color: $brand-color-tags-p3;
  }
  .article__text-box h1 {
    color: #111;
    background-color: $brand-color-tags;
    background-color: $brand-color-tags-p3;
    mix-blend-mode: normal;
  }
}
