/* All the junk for subscriptions. Like subscribe boxes, error states, etc.. */


h3.account-styles {
  font-family: 'GreycliffCF', Arial;
  font-weight: 600;
  font-size: var(--step-1);
  line-height: 1.33em;
  margin-bottom: 1em;
}

p.account-styles {
  font-family: 'GreycliffCF', Arial;
  font-weight: 600;
  font-size: var(--step-0);
  line-height: 1.5em;
  margin-bottom: 1em;
}


.subscribe-form {
  display: block;
  background-color: #f9fffc;
  padding: 32px 20px;
  box-shadow: 0 3px 0 5px #00C764;
  border-radius: 16px;
  margin-top: 4em;


  &.purple {
    background-color: #FBFAFF;
    box-shadow: 0 3px 0 5px #6E39FF;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;

    form input {
      border: 2px solid #6E39FF;
    }

    form button, .button.primary {
      background: #6E39FF;
    }

    a {
      color: #6E39FF;
      color: color(display-p3 0.431 0.222 1 / 1); /* https://p3colorpicker.cool */
    }
  }

  p.subscript {
    font-family: 'GreycliffCF', Arial;
    font-size: var(--step--1);
    color: #565656;
    line-height: 20px;
    max-width: 20em;
  }


  form {
    input {
      width: 300px;
      height: 44px;
      box-sizing: border-box;
      padding: 6px 10px;
      background: #fff;
      border: 2px solid #00c764;
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.10), inset 0 3px 3px 0 rgba(0,0,0,0.10);
      border-radius: 16px;
      margin-right: 32px;
      margin-bottom: 1em;
    }

    button {
      background: #00C764;
      border: none;
      border-radius: 19px;
      padding: 12px;
      box-sizing: border-box;
      height: 44px;
      width: 120px;
      line-height: 20px;
      color: white;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);
    }

    &.loading {
      input, button {
        opacity: 0.5;
        background-color: rgb(235, 235, 235);
        border-color: rgb(235,235,235);
        color: #333;
      }
    }

    .message-success {
      display: none;
    }
    &.success {
      .message-success {
        display: block;
      }
    }

    .subscribe-error {
      color: #FF008D;
    }

    .success-message {
      display: none;
      font-size: var(--step-1);
      line-height: 1em;
      font-weight: 600;
      margin-bottom: 1em;
      margin-top: 1em;
    }

    &.success {

      input, button {
        display: none;
      }

      .success-message {
        display: block;
      }
    }

  }

}

.button.primary {
  background: #00C764;
  border: none;
  border-radius: 19px;
  padding: 12px;
  box-sizing: border-box;
  height: 44px;
  width: 120px;
  line-height: 20px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);

  &.button-centered {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
  }

  &.white {
    color: #111111;
    background-color: white;
  }
}

/* Account page */
.account-box {
  display: block;
  background-color: #f9fffc;
  padding: 32px 20px;
  box-shadow: 0 7px 0 5px #00C764;
  border-radius: 16px;
}

.subscriber-avatar {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 71px;
  overflow: hidden;
  box-shadow: 0 1px 10px 6px rgba(0,0,0,0.10)
}

.subscription-list {

}

.signup-page {

  h1, h2 {
    font-family: 'GreycliffCF', Arial;
    font-size: var(--step-5);
    color: #6E39FF;
    color: color(display-p3 0.431 0.222 1 / 1); /* https://p3colorpicker.cool */
    text-align: center;
    line-height: 1.1em;
    margin-top: 2em;
    font-weight: 700;
  }

  h2 {
    font-size: var(--step-3);
  }

  & > p {
    font-size: var(--step-1);
    line-height: 1.3333em;
    font-weight: 600;
    color: #333333;
    margin-top: 1.5em;

    a.red {
      color: #FF0058;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

ul.feature-list {
  padding: none;
  // margin: 0;
  list-style: none;
  padding-left: 1em;
  margin-top: 0em;

  li {
    display: inline-block;
    padding: 0px 10px;
    background: #EEEEEE;
    font-size: var(--step-0);
    line-height: 1.5em;
    border-radius: 20px;
    margin-top: 12px;
  }
}

/* Fancy Card thing */
.pricing-matrix {
  margin-top: 10em;

  #matrixchecker {
    display: none;
  }

  // All the state changes go here.
  #matrixchecker:checked + .matrix-banner { background-color: #F2EEFF; }
  #matrixchecker:checked + .matrix-banner p:first-child { color: #333333; }
  #matrixchecker:checked + .matrix-banner p:last-child { color: #6E39FF; color: color(display-p3 0.431 0.222 1 / 1); /* https://p3colorpicker.cool */ }
  #matrixchecker:checked + .matrix-banner label { background-color: #6E39FF; }
  #matrixchecker:checked + .matrix-banner label::before { transform: translateX(28px);  }

  .matrix-banner {
    width: 100%;
    max-width: 540px;
    height: 54px;
    display: block;
    position: relative;
    margin: 2em auto;
    background-color: #FDE9F0;
    border-radius: 15px;

    label {
      display: block;
      position: absolute;
      background-color: #FF0058;
      width: 60px;
      height: 32px;
      top: 11px;
      bottom: 11px;
      left: 50%;
      cursor: pointer;
      border-radius: 16px;
      cursor: pointer;
      z-index: 1000;
      margin-left: -30px;

      &::before {
        content: "";
        width: 28px;
        height: 28px;
        border-radius: 14px;
        background-color: white;
        pointer-events: none;
        position: absolute;
        left: 2px;
        top: 2px;
        bottom: 2px;
        transition: transform 0.17s ease-in-out;
      }
    }

    p {
      font-size: var(--step-1);
      color: #333333;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 32px;
      padding: 11px 25px;
      z-index: 100;
      font-weight: 600;
    }

    p:first-child { text-align: left;
      color: #FF0058;
    }
    p:last-child  { text-align: right;}

  }
  .card-holder {
    width: 100%;
    max-width: 540px;
    height: 474px;
    position: relative;
    display: block;
    margin: 4em auto;
  }

  .pricing-card {
    width: 300px;
    height: auto;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 32px 20px;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 13px 5px rgba(0,0,0,0.10);

    h3 {
      font-size: 48px;
      line-height: 30px;
      color: white;
      text-align: center;
      font-weight: 600;
      margin-top: 32px;
      margin-bottom: 32px;
      span {
        font-size: 16px;
      }
    }

    p {
      font-size: 20px;
      line-height: 30px;
      color: white;
      text-align: center;
      margin-top: 32px;
      margin-bottom: 32px;
      font-weight: 500;
      transition: margin 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    &.red {
      background-color: #ff0058;
      color: white;
      top: 0;
      left: 0;
      z-index: 1000;
      transform: scale(1.0) translateY(0px);

      p + p {
        opacity: 1.0;
        margin: 32px;
      }
    }
    &.purple {
      background-color: #6e39ff;
      color: white;
      top: 0;
      right: 0;
      z-index: 100;
      transform: scale(0.8) translateY(40px);

      p + p {
        opacity: 0;
        margin: -15px;
      }

    }
    &.grey {
      background-color: #f3f3f3;
      color: #3d3d3d;
    }

    button {
      width: 100%;
    }

    .button.primary {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);
      border-radius: 16px;
      width: 100%;
      height: 44px;
      &.fit {
        width: 100%;
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }

  }

  #matrixchecker:checked ~ .card-holder .pricing-card.red {
    z-index: 100;
    transform: scale(0.8) translateY(40px);
    p + p {
      opacity: 0;
      margin: -15px;
    }
  }

  #matrixchecker:checked ~ .card-holder .pricing-card.purple {
    z-index: 1000;
    transform: scale(1.0) translateY(0px);
    p + p {
      opacity: 1.0;
      margin: 32px;
    }
  }

}


.reparations-pricing-box {
  width: 100%;
  max-width: 680px;
  margin: 3em auto;
  padding: 30px 32px;
  font-size: var(--step-1);
  line-height: 1.25em;
  color: #333333;
  background: #F3F3F3;
  box-shadow: 0 3px 0 6px #000000;
  border-radius: 16px;
  font-weight: 600;
  box-sizing: border-box;
  margin-top: 8em;
}
