{{!< ../default}}

<div class="layout-centered post-container page-template">

    {{> "site-header"}}

  <div class="content">

    <div class="article__text-box title-preamble">
      <h1>Swift Foundations</h1>
    </div>

    <p class="type-excerpt">I'm writing a book, Swift for complete beginners.</p>

    <hr>

    {{#get "posts" limit="all" filter="tag:swift_foundations" order="title asc"}}
      {{#foreach posts}}
        {{> "lesson-card"}}
      {{/foreach}}
    {{/get}}
  </div>

</div>

{{#contentFor "template_class"}} book-template {{/contentFor}}
