{{!< ../default}}

<div class="layout-centered post-container page-template">

    {{> "site-header"}}

  <div class="content">

    <div class="article__text-box title-preamble">
      <h1>Swift Foundations</h1>
    </div>

    <p class="type-excerpt">I'm writing a book, Swift for complete beginners.</p>

    <hr>
    <!--
    {{#get "posts" limit="all" filter="tag:swift_foundations" order="title asc"}}
      {{#foreach posts}}
        {{> "lesson-card"}}
      {{/foreach}}
    {{/get}}
    -->

    <div class="lesson-card-container breakout">

      <div class="lesson-card" style="border:none;pointer-events:none;"></div>
      <a href="/swift_foundations/introduction" class="lesson-card">
        <div class="expando"></div>
        <h3>Chapter 1</h3>
        <h2>Introduction</h2>
        <span class="minutes">15 mins</span>
      </a>

      <a class="lesson-card"  href="/swift_foundations/this-is-swift">
        <div class="expando"></div>
        <h3>Chapter 2</h3>
        <h2>This is Swift</h2>
        <span class="minutes">20 mins</span>
      </a>

      <a class="lesson-card" href="/swift_foundations/how-to-run-swift">
        <div class="expando"></div>
        <h3>Chapter 3</h3>
        <h2>How to Run Swift</h2>
        <span class="minutes">12 mins</span>
      </a>

      <a class="lesson-card" href="/swift_foundations/introduction">
        <div class="expando"></div>
        <h3>Chapter 4</h3>
        <h2>Value Types vs  Reference Types</h2>
        <span class="minutes">15 mins</span>
      </a>
    </div>


  </div>

</div>

{{#contentFor "template_class"}} book-template {{/contentFor}}
