/* Colors */

:root {
  --black1: #111;
  --black2: #333;
  --black3: #666;
  --white1: #fff;
  --white2: #f8f8f8;
  --white3: #efefef;
  --blue1:  #3091ff;
  --blue2:  #feaaff;
  --blue3:  #8cc2ff;
  --green1: #05cd00;
  --green2: #57d154;
  --green3: #97d196;
  --red1:   #e25622;
  --red2:   #de8c6e;
  --red3:   #efc5b5;
  --pink1:  #ed4dc9;
  --pink2:  #f470d6;
  --pink3:  #ffa2ea;
}
