/* Colors */

:root {
  --color-black1: #111;
  --color-black2: #333;
  --color-black3: #666;
  --color-white1: #fff;
  --color-white2: #f8f8f8;
  --color-white3: #efefef;
  --color-blue1:  #3091ff;
  --color-blue2:  #feaaff;
  --color-blue3:  #8cc2ff;
  --color-green1: #05cd00;
  --color-green2: #57d154;
  --color-green3: #97d196;
  --color-red1:   #e25622;
  --color-red2:   #de8c6e;
  --color-red3:   #efc5b5;
  --color-pink1:  #ed4dc9;
  --color-pink2:  #f470d6;
  --color-pink3:  #ffa2ea;
}
