{{!< ../default}}

<div class="layout-centered post-container page-template">
  {{> "site-header"}}

  <div class="content">

    <div class="article__text-box title-preamble">
      <h1>Newsletters Past</h1>
    </div>

    <p class="type-excerpt">I write an infrequent and silly newsletter. Random things, everything I googled, and read, in the last couple of weeks, big problems that I solved, weird ideas, posts, links to other stuff that I found cool. A rambling link blog in your inbox. Also announcements sometimes. <a href="/newsletter/subscribe">Subscribe here</a>.</p>

    <hr>

    <!-- <ul class="index-list">
    {{#foreach posts}}
        <li class="{{post_class}}">
          <a href="{{url}}">{{title}}</a>
        </li>
    {{/foreach}}
    </ul> -->

    <div class="lesson-card-container breakout">
      {{#foreach posts}}

        {{> "post-item"}}

      {{/foreach}}
    </div>

  </div>

</div>

{{#contentFor "template_class"}} newsletter-template {{/contentFor}}
