{{!< ../default}}

<div class="layout-centered post-container page-template">
  {{> "site-header"}}

  <div class="content">

    <div class="article__text-box title-preamble">
      <h1>Newsletters Past</h1>
    </div>

    <p class="type-excerpt">Swift code, Announcements, Ethics. <a href="/newsletter/subscribe">Click here</a> to subscribe.</p>

    <hr>

    <!-- <p>Swift code, Announcements, Ethics. <a href="/newsletter/subscribe">Click here</a> to subscribe.</p> -->

    <ul class="index-list">
    {{#foreach posts}}
        <li  class="{{post_class}}">
          <a href="{{url}}">{{title}}</a>
        </li>
    {{/foreach}}
    </ul>

  </div>

</div>

{{#contentFor "template_class"}} newsletter-template {{/contentFor}}
