{{!< ../default}}

<div class="layout-centered post-container page-template">
  {{> "site-header"}}

  <div class="content">

    <div class="article__text-box title-preamble">
      <h1>Newsletters Past</h1>
    </div>

    <p class="type-excerpt">I write an infrequent and silly newsletter. It’s everything I googled, and read, in the last couple of weeks. I’m not kidding. It’s like a rambling link post of just random stuff. Why do I do this and why should you subscribe? Because it’s useful. It’s a direct insight to what an ordinary app developer learns in the course of their job. <a href="/newsletter/subscribe">You can subscribe here</a>.</p>

    <hr>

    <ul class="index-list">
    {{#foreach posts}}
        <li  class="{{post_class}}">
          <a href="{{url}}">{{title}}</a>
        </li>
    {{/foreach}}
    </ul>

  </div>

</div>

{{#contentFor "template_class"}} newsletter-template {{/contentFor}}
