{{!< ../default}}

<div class="layout-centered post-container page-template">

  {{> "site-header"}}

  <h1>Newsletters Past</h1>

  <p>An infrequent newsletter of tutorials, code, and writings, of the best stuff about making creative software, and doing it ethically, that I can find.</p>

  <p>Swift code, Announcements, Ethics. <a href="/newsletter/subscribe">Click here</a> to subscribe.</p>

  {{#foreach posts}}

      {{!-- The tag below includes the markup for each post - partials/lesson-card.hbs --}}
      <article class="{{post_class}}">
        <h2><a href="{{url}}">{{title}}</a></h2>
      </article>

  {{/foreach}}

</div>

{{#contentFor "template_class"}} newsletter-template {{/contentFor}}
