{{!< ../default_account}}

<section class="layout-centered page-template">

  {{> site-header}}

  <div class="content">
    <section class="signup-page">

      {{#if @member}}

          {{!-- Logged in: Redirect home --}}
          <script>window.location = '{{@site.url}}';</script>

      {{else}}

          <h2 class="signup-title">Hi Friend,<br /> Sign in to gain full access.</h2>

          <section class="subscribe-form purple">
              <form data-members-form="signin">
                <input data-members-email type="email" placeholder="Type your email..." required="true" autocomplete="false"/>
                <button type="submit" class="button primary">Log in</button>
                <p><small>Don't have an account yet? <a href="{{@site.url}}/signup/">Sign up</a></small></p>
                <p data-members-error class="subscribe-error account-styles"><!-- error message will appear here --></p>
                <p class="message-success account-styles"><strong>Great!</strong> Check your inbox and click the link to complete signin.</p>
              </form>
          </section>

      {{/if}}
    </section>
  </div>
</section>

{{#contentFor "template_class"}} courses-template page-template {{/contentFor}}
