{{!< ../default_account}}

<section class="layout-centered page-template">

  {{> site-header}}

  <div class="content">
      {{#if @member}}

          {{!-- Logged in: Redirect home --}}
          <script>window.location = '{{@site.url}}';</script>

      {{else}}
      
      <section class="bucket content">
        <form data-members-form="signin">
          <div class="content">
            <h1>Log In</h1>
            
            <label for="email">Email Address</label>
            <input class="label" name="email" data-members-email type="email" placeholder="Type your email..." required="true" autocomplete="false"/>
            <button type="submit" class="button primary white">Log in</button>
            
            <hr />
            
            <p class="type-excerpt">Don't have an account yet? You can <a href="/signup">sign up here</a></p>
            
          </div>
        </form>
      </section>

      {{/if}}
  </div>
</section>

{{#contentFor "template_class"}} accounts-template page-template {{/contentFor}}
