{{!< ../default_account}}

<section class="layout-centered page-template">

  {{> site-header}}

  <div class="content">

    {{#if @member.paid}}

        {{!-- Logged in, paying member: Redirect home --}}
        <script>window.location = '{{@site.url}}/account/';</script>

    {{else if @member}}

        {{!-- Logged in, not paying: Check out --}}
        <section class="signup-page">
          <h1>Learn to build real apps step by step</h1>

          <p>I’m making comprehensive courses that teach you exactly how to make the apps that I have in the App Store. Learn to make, nontrivial, real applications from the bottom to the top.</p>

          <p>To get started learning Swift, read <a class="red" href="/swift_foundations/">Swift Foundations</a>, a free book meant to teach you the fundamentals of Swift, SwiftUI, and building apps across Apple platforms.</p>

          <p>Subscription Includes:</p>

          <ul class="feature-list">
            <li>Step by step video lessons</li><br />
            <li>Sample code</li><br />
            <li>The complete source code of each app</li><br />
            <li>Design assets and files</li><br />
            <li>Professional support through twist</li><br />
          </ul>

        </section>

    {{else}}

        {{!-- Not logged in: Sign up --}}
        <section class="signup-page">
          <h1>Learn to build real apps step by step</h1>

          <p>I’m making comprehensive courses that teach you exactly how to make the apps that I have in the App Store. Learn to make, nontrivial, real applications from the bottom to the top.</p>

          <p>To get started learning Swift, read <a class="red" href="/swift_foundations/">Swift Foundations</a>, a free book meant to teach you the fundamentals of Swift, SwiftUI, and building apps across Apple platforms.</p>

          

          <ul class="feature-list">
            <li>Step by step video lessons</li><br />
            <li>Sample code</li><br />
            <li>The complete source code of each app</li><br />
            <li>Design assets and files</li><br />
            <li>Professional support through twist</li><br />
          </ul>

        </section>


    {{/if}}

  </div>
</section>

{{#contentFor "template_class"}} courses-template page-template {{/contentFor}}
